* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.brand {
  font-size: 2rem;
  margin-left: 2%;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 1.5rem;
  color: rgb(2, 175, 2);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(6, 221, 6);
}

.jumbotron {
  position: relative;
  overflow: hidden;
  z-index: -101;
}
.jumbotron video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
  width:100%;
}
