* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Serif Pro', serif;
}

.navbar-dark 
.navbar-brand {
  color: rgb(2, 175, 2);
}

.navbar-dark 
.navbar-brand:hover {
  color: rgb(6, 221, 6);
}

.brand {
  font-size: 2rem;
  margin-left: 2%;
}

.navbar-dark 
.navbar-nav 
.nav-link {
  font-size: 1.25rem;
  color: rgb(2, 175, 2);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(6, 221, 6);
}

#header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url("images/Main-Image.jpg");
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.contain {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
  color: white;
  width: 75%
}

.contain img {
  width: 75%;
}

h2 {
  font-size: 2.25rem;
}

/* SERVICES */

.services {
  width: 100%;
  background-color: rgb(224, 224, 224);
  padding: 2rem;
  text-align: center;
  z-index: 1;
}

.services h1 {
  margin-bottom: 5rem;
  color: rgb(2, 175, 2);
}

.card-box {
  transition: transform .3s;
}

.card-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.row {
  padding: 0 auto;
}

.card {
  border: 2px solid rgb(2, 175, 2);
  border-radius: 5px;
  box-shadow: 10px 15px 10px #888888;
  margin-bottom: 3rem;
}

.card-img-top {
  border-radius: 5px;
  height: 336px;
  width: 100%px;
}

.popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 2500;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.popup__content {
  width: 75%;
  background-color: white;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, .2); 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(.25);
  transition: all .5s .2s;
}

.popup__close:link,
.popup__close:visited {
  color: rgb(2, 175, 2);
  position: absolute;
  top: 1.0rem;
  right: 1.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all .4s;
  line-height: 1;
}

.popup__left {
  width: 33.333333%;
  padding: 0;
}

.popup__right {
  width: 66.6666667%;
  text-align: center;
}

.popup__img {
  display: block;
  width: 100%;
}

.popup__text {
  margin-top: 10%;
  font-size: 1.50rem;
}

/* OPEN STATES */
.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target 
.popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.0);
}

.popup__close:hover {
  color: rgb(6, 221, 6);
}

h2 {
  margin-bottom: 15px;
}

p {
  margin: 0;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 320px) {

}

@media only screen and (max-width: 480px) {
  .brand {
    font-size: 1.25rem;
  }

  .contain img {
    width: 100%;
  }

  h2 {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 600px) {


}

@media only screen and (max-width: 768px) {
  #hidden {
    display: none;
  }

  .popup__right {
    width: 100%;
  }

  .popup__text {
    margin-top: 4%;
    font-size: 1.0rem;
  }

  p:last-child {
    margin-bottom: 4%;
  }
}
